.main {
  padding-top: 5rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  min-height: 92vh;
}

/* 
.main * {
  border: 1px solid red;
} */

.title {
  /* font-family: "Montserrat", sans-serif; */
  font-weight: 800;
  font-size: 34px;
  margin: 8px auto;
  margin-top: 25px;
  /* text-transform: uppercase; */
}

.titleWord {
  animation: color-animation 4s linear infinite;
}

.word1 {
  --color-1: #a2cdff;
  --color-2: #84daff;
  --color-3: #c0ffa1;
}

.word2 {
  --color-1: #6cffe4;
  --color-2: #4dffea;
  --color-3: rgb(114, 255, 208);
}

@keyframes color-animation {
  0% {
    color: var(--color-1);
  }
  32% {
    color: var(--color-1);
  }
  33% {
    color: var(--color-2);
  }
  65% {
    color: var(--color-2);
  }
  66% {
    color: var(--color-3);
  }
  99% {
    color: var(--color-3);
  }
  100% {
    color: var(--color-1);
  }
}

@media screen and (max-width: 768px) {
  .main {
    margin: 0 auto;
    width: 100%;

    padding-top: 5rem;
  }

  .title {
    font-size: 22px;
    margin-top: 25px;
  }
}
