@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  /* font-family: 'Mochiy Pop One', sans-serif; */
  font-family: 'Sora', sans-serif;
  letter-spacing: 2px;  

  background: white;
  color: black;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #101724;
    background: #1c1c1c;
    background: #222529;
    background: #111111;

    /* background: #fff;
    color: black; */

/* #7289da	
#424549	
#36393e	
#282b30	
#1e2124 */
  }
}
