.container {
  padding: 0 2rem;
}

.main {
  /* min-height: 100vh; */
  padding: 6rem 0;
  /* flex: 1; */
  display: flex;
  /* flex-direction: column; */
  justify-content: flex-start;
  justify-content: space-around;
  justify-content: space-evenly;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.hero {
  max-width: 500px;
}

.title {
  /* font-family: "Montserrat", sans-serif; */
  font-weight: 800;
  font-size: 44px;
  margin: 15px;
  /* text-transform: uppercase; */
}

.titleWord {
  animation: color-animation 4s linear infinite;
}


.tagline {
  /* font-family: "Montserrat", sans-serif; */
  font-weight: 800;
  font-size: 18px;
  margin: 15px;
  /* text-align: center; */
  text-transform: uppercase;
  max-width: 650px;
}


.word1 {
  --color-1: #a2cdff;
  --color-2: #84daff;
  --color-3: #c0ffa1;
}

.word2 {
  --color-1: #6cffe4;
  --color-2: #4dffea;
  --color-3: rgb(114, 255, 208);
}

@keyframes color-animation {
  0% {
    color: var(--color-1);
  }
  32% {
    color: var(--color-1);
  }
  33% {
    color: var(--color-2);
  }
  65% {
    color: var(--color-2);
  }
  66% {
    color: var(--color-3);
  }
  99% {
    color: var(--color-3);
  }
  100% {
    color: var(--color-1);
  }
}


/* features */

.features {
  /* min-height: 100vh; */
  /* padding: 6rem 0; */
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.button {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  /* height: 48px; */
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  margin: 10px 10px;
  padding: 10px 15px;
}

.button:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .main * {
    margin-bottom: 0;
    /* justify-content: center; */
  }

  .main {
    justify-content: center;
    text-align: center;
    flex-direction: column-reverse;
  }

  .button {
    margin: 20px;
  }

  .features {
    margin-top: 0;
  }

  .title {
    font-size: 36px;
  }

  .tagline {
    font-size: 18px;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
