.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 6rem 0;
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.hero {
  max-width: 400px;
}


.title {
  /* font-family: "Montserrat", sans-serif; */
  font-weight: 800;
  font-size: 44px;
  margin: 15px;
  /* text-transform: uppercase; */
}

.titleWord {
  animation: color-animation 4s linear infinite;
}

.word1 {
  --color-1: #a2cdff;
  --color-2: #84daff;
  --color-3: #c0ffa1;
}

.word2 {
  --color-1: #6cffe4;
  --color-2: #4dffea;
  --color-3: rgb(114, 255, 208);
}


@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-1)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-2)}
  66%   {color: var(--color-3)}
  99%   {color: var(--color-3)}
  100%  {color: var(--color-1)}
}

/* Here are just some visual styles. 🖌 */

.tagline {
  /* font-family: "Montserrat", sans-serif; */
  font-weight: 800;
  font-size: 22px;
  margin: 15px;
  text-align: center;
  text-transform: uppercase;
}


@media screen and ( max-width: 768px ) {
  .main * {
  /* justify-content: center; */
}

.title {
  font-size: 36px;
}

}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
