.header {
}

.navbar {
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #B1BDF8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: 	#1e2124;
  /* padding: 1rem 1.5rem; */
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 35px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #222222;
}

.navmenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.navitem {
  margin-left: 5rem;
}

.navlink {
/* font-size: 18px; */
  color: white;
  text-transform: uppercase;
}

.navlink:hover {
  color: #28acff;
}

.navlogo {
  font-size: 1.8rem;
  font-weight: 500;
  /* color: #482ff7; */
}

.container {
  padding: 0 2rem;
}

@media only screen and (max-width: 768px) {
  .navmenu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .navmenu.active {
    left: 0;
  }

  .navitem {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
}

.logo {
  /* display: inline-block; */
  max-width: 120px;
  margin: 0 25px;
  cursor: pointer;
}