.navbar {
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #b1bdf8;
  display: flex;
  justify-content: flex-start;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  background: #1e2124;
  height: 8vh; 
  /* background: #ffffff;
  color: #000;
  */
  /* padding: 1rem 1.5rem; */
}

.hamburger {
  display: none;
  margin: 0 25px;
  background-color: rgb(120, 228, 255);
  background-color: #5d9aee;
  border-radius: 6px;
  padding: 5px 8px;
}

.bar {
  display: block;
  width: 35px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #000000;
}

.navmenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navitem {
  margin: 0 1rem;
  transition: ease-in-out .2s;

}

.navitem:hover {
  /* color: #28acff; */
  transform: scale(1.12);
}

.navlink {
  /* font-size: 18px; */
  color: white;
  /* color: black; */
  text-transform: uppercase;
}

.logo {
    /* display: inline-block; */
    /* max-width: 120px; */
    margin: 0 25px;
    padding: 10px 0;
    display: flex;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 600;
    color: #5d9aee;
  }
  

.navlogo {
    /* display: inline-block; */

  max-width: 45px;
  margin: 0 10px;

}

.container {
  padding: 0 2rem;
}

@media only screen and (max-width: 768px) {
    .navbar {
        justify-content: space-between;
    }

  .navmenu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: inherit;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .navmenu.active {
    left: 0;
  }

  .navitem {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
}

