.button {
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  background-color: #5de9ff;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  font-weight: bold;
  /* font-family: "JetBrains Mono",monospace; */
  /* height: 48px; */
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
  margin: 10px 10px;
  padding: 10px 15px;
  /* width: 100px; */
  /* width: 60%; */
  background-color: rgb(213, 204, 255);
}

.button:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

.vote {
  display: flex;
  justify-content: center;
  align-items: center;
}

.newMember {
  background: "linear-gradient(316deg, #13012f 0%, #110d10  150%)";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* margin: 200px auto; */
  min-width: 80%;
  /* border: 1px solid rgb(110, 99, 160); */
  padding: 0.5rem 1.5rem;
  margin-top: 20px;
  margin-bottom: 40px;
  border-radius: 10px;
  /* backdrop-filter: blur(14px); */
  /* background-color: rgba(94, 80, 109, 0.18); */
  /* transition: ease-in-out 0.3s; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.member_name {
  width: 100%;
  min-height: 40px;
  padding: 1rem;
  border-radius: 10px;
  margin: 20px auto;
  background: rgb(239, 224, 253);
  color: black;
  font-size: 18px;
}

.member_bio {
  width: 100%;
  min-height: 150px;
  padding: 1rem;
  margin: 20px auto;
  background: rgb(239, 224, 253);
  color: black;
  border-radius: 10px;
  font-size: 18px;
  scroll-behavior: auto;
  resize: vertical;
  scroll-behavior: auto;
}

.center {
  margin: 0px auto; 
}

.title {
  font-weight: 800;
  font-size: 34px;
  margin: 15px auto;
}

.title_small {
  font-weight: 800;
  font-size: 22px;
  margin: 15px auto;
}

.titleWord {
  animation: color-animation 4s linear infinite;
}

.word1 {
  --color-1: #a2cdff;
  --color-2: #84daff;
  --color-3: #c0ffa1;
}

.word2 {
  --color-1: #6cffe4;
  --color-2: #4dffea;
  --color-3: rgb(114, 255, 208);
}

@keyframes color-animation {
  0% {
    color: var(--color-1);
  }
  32% {
    color: var(--color-1);
  }
  33% {
    color: var(--color-2);
  }
  65% {
    color: var(--color-2);
  }
  66% {
    color: var(--color-3);
  }
  99% {
    color: var(--color-3);
  }
  100% {
    color: var(--color-1);
  }
}


.width {
  width: 120px;
}

.entry_requests {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  margin: 0 auto;
}

.grant_proposal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  margin: 0 auto;
}

.card {
  max-width: 500px;
  transition: ease-in-out 0.3s;

  /* margin: 1px ; */
}

.grant_card {
  max-width: 600px;
  transition: ease-in-out 0.3s;

  /* margin: 1px ; */
}

.card:hover {
  transform: scale(0.98);
}


/* proposal card */

.proposalCard {
margin: 12px 20px;
/* max-width: 30%; */
border: 1px solid rgb(110, 99, 160);
padding: 1.5rem 3rem;
margin-top: 20px;
margin-bottom: 40px;
border-radius: 10px;
backdrop-filter: blur(14px);
background-color: rgba(94, 80, 109, 0.18);
transition: ease-in-out 0.3s;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
max-height: 332px;
overflow: auto;
/* scroll-behavior: auto; */
}

.grant_proposalCard {
margin: 12px 20px;
/* max-width: 30%; */
border: 1px solid rgb(110, 99, 160);
padding: 1.5rem 3rem;
margin-top: 20px;
margin-bottom: 40px;
border-radius: 10px;
backdrop-filter: blur(14px);
background-color: rgba(94, 80, 109, 0.18);
transition: ease-in-out 0.3s;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
max-height: 600px;
overflow: auto;
/* scroll-behavior: auto; */
}

/* grants section */

.main {
  /* min-width: inherit; */
  /* padding-bottom: 1rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.title {
  font-size: 22px;
  text-align: center;
}

.align {
  margin: 0 auto;
}

.idea {
  /* width: 100%; */
  /* min-width: 80%; */
  border: 1px solid rgb(110, 99, 160);
  padding: 1.5rem 3rem;
  margin-top: 20px;
  margin-bottom: 40px;
  border-radius: 10px;
  backdrop-filter: blur(14px);
  background-color: rgba(94, 80, 109, 0.18);
  transition: ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  display: block;

  /* position: fixed;
  top: 250px;
  right: 50px; */

  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: inherit;

  margin-left: auto;
  font-size: 16px;
  max-width: 1200px;
  /* width: 1200px; */
  /* max-width: 80%; */
  /* max-width: calc(50% - 20px); */

  /* width: 1200px;
  max-width: 100%; */
}

.idea:hover {
  transform: scale(0.98);
}

.research_title {
  width: 100%;
  min-height: 40px;
  padding: 1rem;
  border-radius: 10px;
  margin: 20px auto;
  background: rgb(239, 224, 253);
  color: black;
  font-size: 16px;
}

.research_desc {
  width: 100%;
  min-height: 150px;
  padding: 1rem;
  margin: 20px auto;
  background: rgb(239, 224, 253);
  color: black;
  border-radius: 10px;
  font-size: 16px;
  scroll-behavior: auto;
  resize: vertical;
  scroll-behavior: auto;
}

.research_docs {
  padding: 1rem;
  background: rgb(239, 224, 253);
  color: black;
  font-size: 18px;
  border-radius: 10px;
  text-align: start;
  width: 100%;
  margin: 20px auto;
  font-size: 16px;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


@media screen and (max-width: 768px) {
  .newMember {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .title {
    font-size: 24px;
    max-width: 80%;
    margin: 15px 0px;
    /* margin: 10px; */
  }

  .newMember label {
    font-size: 14px;
  }

  .button {
    font-size: 16px;
    padding: 10px 8px;
  }

  .member_name, .member_bio {
    font-size: 14px;
  }

  .card {
    font-size: 14px;
    width: 100%;
  }

  .proposalCard {
    margin: 20px 25px;
    padding: 0.8rem 1.2rem;
  }
  .vote {
    flex-wrap: wrap;

  }

  .proposalCard p {
    text-align: justify;
  }

  .idea {
    font-size: 14px;
    padding: 1rem;
    margin: 15px auto;
    /* width: 80%; */
    width: 80%;

  }

  .research_desc, .research_title {
    font-size: 14px;
  }

}
