.main {
  padding-top: 6rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.title {
  font-weight: 800;
  font-size: 34px;
  margin: 15px;
}

.titleWord {
  animation: color-animation 4s linear infinite;
}

.word1 {
  --color-1: #a2cdff;
  --color-2: #84daff;
  --color-3: #c0ffa1;
}

.word2 {
  --color-1: #6cffe4;
  --color-2: #4dffea;
  --color-3: rgb(114, 255, 208);
}

.publish {
  margin: 200px auto;
  min-width: 80%;
  border: 1px solid rgb(110, 99, 160);
  padding: 1.5rem 3rem;
  margin-top: 20px;
  margin-bottom: 40px;
  border-radius: 10px;
  /* box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2); */
  backdrop-filter: blur(14px);
  background-color: rgba(94, 80, 109, 0.18);
  transition: ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.publish:hover {
  transform: scale(0.98);
}

.research_title {
  width: 100%;
  min-height: 40px;
  padding: 1rem;
  border-radius: 10px;
  margin: 20px auto;
  background: rgb(239, 224, 253);
  color: black;
  font-size: 18px;
}

.research_desc {
  width: 100%;
  min-height: 250px;
  padding: 1rem;
  margin: 20px auto;
  background: rgb(239, 224, 253);
  color: black;
  border-radius: 10px;
  font-size: 18px;
  scroll-behavior: auto;
  resize: vertical;
  scroll-behavior: auto;
}

.research_docs {
  padding: 1rem;
  background: rgb(239, 224, 253);
  color: black;
  font-size: 18px;
  border-radius: 10px;
  text-align: start;
  width: 100%;
  margin: 20px auto;
  font-size: 16px;
}



.upload {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  /* width: 800px;
  height: 200px; */
  width: 100%;
  /* min-height: 80px; */
  max-height: 350px;
  overflow: auto;
  scroll-behavior: auto;

  padding: 1rem;
  margin: 20px auto;
  border-radius: 10px;

  color: black;

  background: rgb(239, 224, 253);
}

@keyframes color-animation {
  0% {
    color: var(--color-1);
  }
  32% {
    color: var(--color-1);
  }
  33% {
    color: var(--color-2);
  }
  65% {
    color: var(--color-2);
  }
  66% {
    color: var(--color-3);
  }
  99% {
    color: var(--color-3);
  }
  100% {
    color: var(--color-1);
  }
}

.button {
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  background-color: #5de9ff;
  background-color: rgb(213, 204, 255);
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  color: #232536;
  cursor: pointer;
  display: inline-flex;
  font-weight: bold;
  /* font-family: "JetBrains Mono",monospace; */
  /* height: 48px; */
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
  margin: 30px auto;
  padding: 10px 15px;
  min-width: 20%;
}

.button:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 22px;
  }

  .publish {
    text-align: center;
    max-width: 100%;
    padding: 1.5rem;
    font-size: 16px;
  }

  .research_docs {
    font-size: 14px;
  }

  .research_title,
  .research_desc {
    font-size: 16px;
  }

  .button {
    font-size: 14px;
    padding: 10px;
    margin: 10px auto;
  }
}
