.main {
  padding-top: 6rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  min-height: 92vh;
  /* max-width: 1200px; */
}

.main h2 {
  color: #5de9ff;
  margin: 15px;

  text-align: center;
}

.main p {
  color: #eaeaff;
}

.research {
  margin: 200px auto;
  /* min-width: 80%; */
  max-width: 94%;
  border: 1px solid rgb(110, 99, 160);
  padding: 1.5rem 3rem;
  margin-top: 20px;
  margin-bottom: 40px;
  border-radius: 10px;
  backdrop-filter: blur(14px);
  background-color: rgba(94, 80, 109, 0.18);
  transition: ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 90%;
}

/* .research:hover {
  transform: scale(0.98);
} */

.research p {
  text-align: justify;
}

.research h3 {
  margin: 15px auto;
}

.media {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px auto;
  flex-wrap: wrap;
}

.media div {
    margin: auto 15px;
}

.button {
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  background-color: #5de9ff;
  background-color: rgb(213, 204, 255);
  background-color: hsl(188, 100%, 77%);
  background-color: #5de9ff;

  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  color: #232536;
  cursor: pointer;
  display: inline-flex;
  font-weight: bold;
  /* font-family: "JetBrains Mono",monospace; */
  /* height: 48px; */
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
  margin: 15px auto;
  padding: 10px 15px;
  /* min-width: 20%; */
}

.button:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

.contribute{
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgb(170, 210, 255);
  padding: 1rem 2rem;
  border-radius: 15px;
  flex-wrap: wrap;
  width: 50%;
  /* max-width: 600px; */
}

.contribute * {
  text-align: center;
}

.amount {
  padding: 8px 12px;
  font-size: 16px;
  color: #232536;
  border: 2px solid black;
  border-radius: 5px;
  width: 60%;
  background-color: whitesmoke;
}

@media screen and (max-width: 768px) {
  .button {
    font-size: 14px;
    margin: 10px auto;
    padding: 10px;
  }

  .research {
    padding: 0.5rem 1.5rem;
    max-width: 90%;
  }

  .research p {
    font-size: 14px;
  }

  .main h2 {
    font-size: 18px;
    margin: 0 15px;
  }

  .contribute {
    width: 100%;
  }
}
